@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f1f1;
}

.app {
  display: flex;
}

.app-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #fff;
}

.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 4%;
}

.sticky {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.site-title {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.site-title h1 > a {
  text-decoration: none;
  color: #0290ff;
}

.navbar {
  width: 30%;
  margin-top: 20px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 10px 12px;
  color: #837e7e;
}

.active {
  color: #161616 !important;
}

.user-panel {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.user-panel a > i {
  font-size: 40px;
}

.books {
  background-color: rgb(241, 236, 236);
  padding: 3% 4%;
}

.book {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3%;
  margin-bottom: 20px;
}

.book-details {
  width: 40%;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
}

.book-details h3 {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  margin-bottom: 5px;
  color: #121212;
  opacity: 0.5;
}

.book-details h2 {
  font-size: 1.375rem;
  font-weight: bold;
  color: rgb(22, 21, 24);
  margin-bottom: 10px;
}

.book-details p {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  color: #4386bf;
}

.update-progress button {
  border: none;
  background-color: #0290ff;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  padding: 7px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.actions {
  margin-top: 25px;
}

.actions button {
  background-color: #fff;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  color: #4386bf;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid #a7a3a3;
  cursor: pointer;
}

.add-book button {
  width: 13%;
  border: none;
  background-color: #211372;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #fff;
  padding: 10px 17px;
  font-weight: 600;
  border-radius: 3px;
}

.add-book h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #888;
  margin-bottom: 12px;
}

.categories button {
  width: 13%;
  border: none;
  background-color: #211372;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 10px 17px;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 35px;
  margin-right: 40px;
}

.actions button:hover {
  color: rgb(18, 18, 216);
}

.actions button:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0 solid #a7a3a3;
}

.progress {
  width: 25%;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #7565ce;
}

.progress h1 {
  margin-top: 12px;
  line-height: 20px;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.progress span {
  font-family: 'Montserrat', sans-serif;
  opacity: 0.5;
  font-size: 0.875rem;
}

.ProgressOvalDiv {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.ProgressOval {
  width: 50% !important;
}

.update-progress {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.update-progress h4 {
  font-family: 'Roboto Slab', serif;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
}

.update-progress h3 {
  font-family: 'Roboto Slab', serif;
  color: rgb(45, 37, 61);
  font-size: 18px;
  margin: 15px 0;
}

.add-book {
  padding-top: 20px;
  border-top: 2px solid #5c5959;
}

.add-book input {
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #1c1b1d;
  margin-right: 15px;
  width: 40%;
}

.categories {
  display: flex;
  background-color: rgb(241, 236, 236);
  padding: 3% 4%;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 700;
  color: #1c1b1d;
}

.categories h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  color: #201e1e;
}
